* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: rgb(229, 217, 240);
    padding: 16px 0;
    color: rgb(92, 72, 110);
}

.container {
    width: 1366px;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header li {
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 16px;
    
}

.articles {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    color: rgb(60, 43, 77);
}

.articles article img {
    height: 150px;
    width: 60%;
}

section {
    padding: 5px 0;
}

section h2,
.articles article {
    margin-bottom: 5px;
    padding: 10px ;
    color:rgb(76, 58, 83)
}

.articles article h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.articles article {
    color:rgb(219, 219, 255)
    text-decoration: none;
    font-weight: none;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: center;
        
}

.articles article h3 {
    font-size: 20px;
}

section h2 {
    font-size: 35px;
}

#entertainment {
    background-color: rgb(202, 218, 250);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#entertainment .articles article {
    background-color: rgb(205, 202, 247);
}

#tecnology {
    background-color: rgb(234, 206, 253);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tecnology .articles article {
    background-color: rgb(248, 232, 253);
}